.main{
    width: 90%;
    margin: 0 auto;
    .mainBaner {

        .bnrImg {
          z-index: -4;
          position: relative;
          margin-bottom: -22%;
          width: 100%;
          object-fit: contain;
          -webkit-mask-image: linear-gradient(to bottom, rgb(0, 0, 0),rgba(255, 255, 255, 0.164));
        }
        
      }
      
      .banerCartsContainer{
      padding:0 1%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      
          .cart {
              width: 24%;
              background-color: white;
              padding: 1%;
              margin-bottom: 1%;
              h2 {
                font-size: 1.2vw;
              }
              .collection {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                height: 90%;
                padding: 1%;
                span {
                  display: flex;
                  flex-direction: column;
                  width: 45%;
                  img {
                    width: 80%;
                    height: 100%;
                    object-fit: contain;
                  }
                  small{
                      font-size: 0.8vw;
                  }
                }
              }
            }
      }
      
}

// =========== banerCartTwo
.banerCartTwo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 1%;
  width: 24%;
  margin-bottom: 1%;
  h2{
    font-size: 1.2vw;

  }
  img{
    object-fit: contain;
    margin: 1% 0;
  }
  a{
    font-size: 1vw;
  }
}


// ==================== Media query ====================
@media only screen and (max-width:800px) {
  .main{
    width: 100%;
   .banerCartsContainer{
     .cart{
       width: 49%;
       h2{
         font-size: 3.5vw;
       }
       .collection{
         span{
           small{
             font-size: 3vw;
           }
         }
       }


     }
   }
  }


  // ========= baner Cart Two
  .banerCartTwo{
    width: 49%;
    h2{
      font-size: 3.5vw;
    }
    a{
      font-size: 3vw;
    }
  }
}