.footer{
background-color: #232F3E;
padding: 1%;
.footerContainer{
    width: 88%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    ul{
        width: 24%;
        list-style: none;
       p{
           font-size: 1vw;
            padding: 2%;
            color: white;
            font-weight: bold;
       }
        li{
            color: white;
            font-size: 0.9vw;
            width: 50%;
            padding: 2%;
        }
    }
}
}


// ===================== Media query ===========
@media only screen and (max-width:800px) {
    .footer{
        .footerContainer{
            flex-wrap: wrap;
            ul{
                width: 49%;
                margin-bottom: 6%;
                p{
                    font-size: 3vw;
                }
                li{
                    font-size: 2.8vw;
                    width: 100%;
                }
                &:nth-child(even){
                    text-align: right;
                   
                }
            }
        }
    }
}