.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0F1111;
    padding: 0.5%;
    position: sticky;
    top: 0;
   .logoLink{
       width: 6%;

    img{
        object-fit: contain;
        width: 100%;
    }
   }
    .location{
        display: flex;
        align-items: center;
        color: white;
        margin-left: 1%;
        .locationIcon{
            font-size: 1vw;
        }
        span{
            display: flex;
            flex-direction: column;
            font-size: 0.8vw;
        }
    }
    form{
        flex: 1;
        display: flex;
        align-items: center;
        background-color: #FFD814;
        margin-left: 1%;
        color: white;
        border-radius:5px;

        input{
            flex: 1;
            font-size: 1vw;
            padding: 0.5%;
            outline: none;
            border: none;
        border-radius:5px 0 0 5px;

        }
        span{
                padding: 0.65%;
                display: flex;
                justify-content: center;
                align-items: center;

                .searchIcon{
                    font-size: 1vw;
                    color: black;
                }
        }
    }
    .rightSection{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 0.20;
        margin-left: 1%;
        color: white;
.signInLink{
    text-decoration: none;
    color: white;
}
        div{
            display: flex;
            flex-direction: column;
            font-size: 0.8vw;
            // margin: 0 2%;
            &:nth-child(3){
                display: flex;
                flex-direction: row;
                align-items: center;
                .cartIcon{
                    font-size: 1.5vw;
                }
            }
            .zero{
                font-size: 1.4vw;
                margin-left: 3%;
                color: orange;
            }
        }
    }
}
// ============================================== Media query =================
@media only screen and (max-width:800px) {
    .header{
        flex-wrap: wrap;
        padding: 2%;
        .logoLink{
            width: 20%;
        }
        .location{
            .locationIcon{
                font-size: 4vw;
            }
            span{
                font-size: 3vw;
            }
        }
        form{
            // flex: none;
            // width: 80%;
            input{
                font-size: 3vw;
                padding: 3%;
            }
            span{
                padding: 1% 4%;
                .searchIcon{
                    font-size: 5vw;
                }
            }
        }
        .rightSection{
            margin: 0%;
            flex: none;
            width: 100%;
            padding: 1%;
           div{
               font-size: 3vw;
               &:nth-child(3){
                   flex: 0.3;
                .cartIcon{
                    font-size: 6vw;
                }
               }
               .zero{
                   font-size: 5vw;
                   border: 1px white solid;
                   border-radius: 50%;
                   width: 30%;
                   display: flex;
                   justify-content: center;
                   align-items: center;
               }
           }
        }

    }
}