.main {
  .rows {
    width: 98%;
    margin: 0 auto;
    padding: 1%;
    background-color: white;
    h2 {
      font-size: 1.2vw;
    }
    .rowsMain {
      white-space: nowrap;
      overflow-y: hidden;
      overflow-x: scroll;
      padding: 1% 0;
      .rowsContainer {
        display: flex;
        justify-content: space-between;
        width: 130%;
        a {
          display: flex;
          margin-right: 2%;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          text-decoration: none;

          button {
            border: none;
            font-size: 0.7vw;
            padding: 5px;
            border:none;
            outline: none;
            border-radius: 10px;
            // min-width: 20px;
            background-color: #ffd814;
            cursor: pointer;
            &:hover{
            background-color: #c7a914;
                
            }
          }

          img {
            width: 100%;
          }
        }
      }
    }
  }
}

// ================ Media query ===============
@media only screen and (max-width: 800px) {
  .main {
    .rows {
      h2 {
        font-size: 3.5vw;
      }
      .rowsMain {
        .rowsContainer {
          width: 250%;
          a{
             
              button{
                  font-size: 2vw;
              }
          }
        }
      }
    }
  }
}
