.main{
    .rows{
        width: 98%;
        margin: 0 auto;
        padding: 1%;
        background-color: white;
        h2{
            font-size: 1.2vw;
        }
        .rowsMain{
            white-space: nowrap;
            overflow-y: hidden;
            overflow-x: scroll;
            padding: 1% 0;
            .rowsContainer{
                display: flex;
                justify-content: space-between;
                width: 130%;
               a{
                   display: flex;
                margin-right: 2%;

                   img{
                width: 100%;
               
                }
               }
                
            }
        }
    }
}