.main{
    .rows{
        width: 98%;
        margin: 0 auto;
        padding: 1%;
        background-color: white;
        .rowsMain{
            white-space: nowrap;
            overflow-y: hidden;
            overflow-x: scroll;
            padding: 1% 0;
            .rowsContainer{
                // width: 150%;
                display: flex;
                justify-content: space-between;
                img{
                    object-fit: contain;
                //   border: 2px solid;
                }
                
            }
        }
    }
}